.et-slider .swiper-container {
  height: 100%;
}
.et-slider .swiper-pagination {
  position: absolute;
  /* look in common css */
}
.et-slider .swiper-pagination-bullets .swiper-pagination-bullet {
  transition: all 0.3s ease-in-out;
}
.et-slider .slide-title,
.et-slider .slide-subtitle {
  margin-bottom: 0;
}
.et-slider .swiper-nav,
.et-slider .swiper-nav:hover {
  color: var(--et_font-color);
}
.et-slider .swiper-container .swiper-custom-left:hover,
.et-slider .swiper-container .swiper-custom-right:hover {
  opacity: .7 !important;
}
.et-slider .second-initialized .et-loader {
  z-index: -1;
  visibility: hidden;
  opacity: 0;
}
.et-slider .et-loader {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  height: 100%;
  z-index: 12;
}
.et-slider .et-loader:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.et-slider .et-loader:after {
  content: "";
  display: block;
  animation: rotate .75s infinite linear;
  width: 26px;
  height: 26px;
  position: absolute;
  left: calc(50% - 13px);
  top: calc(50% - 13px);
  border: 2px solid var(--et_border-color);
  border-left-color: var(--et_main-color);
  border-radius: 50%;
  background-image: none;
}
.et-slider .slide-content {
  overflow: hidden;
}
.et-slider .swiper-container .swiper-wrapper,
.et-slider:not(.nav-on-hover) .swiper-nav {
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
}
.et-slider .swiper-container.second-initialized .swiper-wrapper,
.et-slider:not(.nav-on-hover) .swiper-container.second-initialized .swiper-nav {
  visibility: visible;
  opacity: 1;
}
.et-slider.nav-on-hover .swiper-nav {
  opacity: 0;
}
.et-slider .swiper-nav,
.et-slider.nav-on-hover:hover .swiper-nav {
  opacity: 1;
}
.et-slider .swiper-slide:not(.swiper-slide-active) .animated {
  animation: none !important;
}
.et-slider .slide-button {
  color: #fff;
  background-color: var(--et_dark-color);
}
.et-slider .slide-button:hover {
  background-color: #4c4c4c;
}
.slider-item {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 100%;
}
.slider-item,
.slider-item > .container {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.slider-item .bg-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
}
.slide-button {
  transition: 0.3s ease-in-out;
  display: inline-block;
  padding: 5px 10px;
  text-transform: uppercase;
}
@media only screen and (min-width: 1200px) {
  .et-slider .swiper-custom-left,
  .et-slider:hover .swiper-custom-left {
    left: 0;
  }
  .et-slider .swiper-custom-right,
  .et-slider:hover .swiper-custom-right {
    right: 0;
  }
}
@media only screen and (max-width: 768px) {
  .et-slider .slide-content {
    -ms-flex-preferred-size: 70% !important;
        flex-basis: 70% !important;
    padding-left: 20px;
    padding-right: 20px;
  }
  .et-slider .swiper-custom-left,
  .et-slider:hover .swiper-custom-left,
  .et-slider.nav-on-hover:hover .swiper-custom-left,
  .et-slider .swiper-custom-right,
  .et-slider:hover .swiper-custom-right,
  .et-slider.nav-on-hover:hover .swiper-custom-right {
    opacity: 0;
  }
  .et-slider .slider-item > .container {
    width: 100%;
  }
  .et-slider.nav-on-hover .swiper-nav {
    opacity: 1 !important;
  }
}
@media only screen and (max-width: 480px) {
  .et-slider .slide-content {
    -ms-flex-preferred-size: 90% !important;
        flex-basis: 90% !important;
    text-align: center;
  }
  .et-slider .slider-item > .container {
    -ms-flex-pack: center;
        justify-content: center;
  }
}
.fadeIn-slide {
  opacity: 0;
  transition: all 0.7s ease-out;
}
.fadedIn-slide {
  opacity: 1;
}
.ibox-block .ibox-symbol i {
  min-width: 1.8em;
  min-height: 1.8em;
  display: inline-block;
  border-radius: 100%;
  font-size: 1.71rem;
  transition: all 0.2s ease-out;
  color: var(--et_white-2-dark);
}
.ibox-block .ibox-symbol i.icon-image {
  height: auto;
  width: auto;
}
.ibox-block .ibox-symbol i.icon-svg {
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.ibox-block.icon-top .ibox-symbol {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
.ibox-block.icon-left .ibox-symbol {
  margin-right: 10px;
}
.ibox-block.icon-right .ibox-symbol {
  margin-left: 10px;
}
.ibox-block .ibox-content {
  font-size: 1.07rem;
}
.ibox-block .ibox-content h3 {
  font-size: 1rem;
  margin-bottom: 0;
}
.ibox-block.table .ibox-content,
.ibox-block.table .ibox-symbol {
  display: table-cell;
}
.ibox-block.table.icon-top .ibox-symbol {
  padding-bottom: 10px;
}
.ibox-block.table.icon-left .ibox-symbol {
  padding-right: 10px;
}
.ibox-block.table.icon-right .ibox-symbol {
  padding-left: 10px;
}
.ibox-block ul,
.ibox-block ul li:last-of-type {
  margin-bottom: 0;
}
.ibox-block .ibox-text li a {
  padding-top: 5px;
  padding-bottom: 5px;
}
.ibox-block .ibox-text li:first-child a {
  padding-top: 0;
}
.ibox-block .ibox-text li:last-child a {
  padding-bottom: 0;
}
.ibox-block .btn.style-black {
  color: #fff;
  border-color: var(--et_dark-color);
  background-color: var(--et_dark-color);
}
.ibox-block .btn.style-black:hover {
  background-color: #4c4c4c;
  border-color: #4c4c4c;
}
.ibox-block .btn.size-small {
  font-size: 11px;
  padding: 8px 12px;
  height: auto;
  line-height: 1;
}
.ibox-block .btn.size-large {
  height: auto;
  line-height: 1;
  font-size: 15px;
  padding: 18px 25px;
}
.ibox-block:hover .ibox-symbol i {
  background-color: #f2f2f2;
  color: var(--et_main-color);
}
@media only screen and (max-width: 480px) {
  .icon-box {
    margin-bottom: 0;
  }
}
/*===============================
=            Banners            =
===============================*/
.banner {
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  backface-visibility: hidden;
}
.banner a:hover {
  opacity: .9;
}
.banner img {
  width: 100%;
  height: auto;
}
.banner .banner-title {
  display: block;
}
.banner .banner-subtitle {
  font-size: 1rem;
  display: block;
}
.banner .banner-title:not(.no-uppercase),
.banner .banner-subtitle:not(.no-uppercase) {
  text-transform: uppercase;
}
.banner .banner-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 20px 15px;
  backface-visibility: hidden;
  transition: all 0.2s ease-out;
}
.banner .banner-content p {
  line-height: 1.5;
}
.banner .banner-content .banner-subtitle,
.banner .banner-content .banner-title,
.banner .banner-content .content-inner {
  position: relative;
  transition: transform .35s, opacity .35s;
}
.banner .banner-button {
  margin-top: 10px;
  transition: all 0.2s ease-out;
}
.banner.no-titles .banner-content .content-inner {
  padding: 0 !important;
}
.banner.button-on-hover .button-wrap {
  transition: all 0.2s ease-out;
}
.banner.button-on-hover:not(:hover) .button-wrap {
  opacity: 0;
  visibility: hidden;
}
.banner.valign-bottom .banner-content {
  top: auto;
  bottom: 0;
}
.banner.valign-middle .banner-content {
  top: 50%;
  transform: translateY(-50%);
}
.banner.font-style-light,
.banner.font-style-light h1,
.banner.font-style-light h2,
.banner.font-style-light h3,
.banner.font-style-light h4,
.banner.font-style-light h5,
.banner.font-style-light h6,
.banner.font-style-light p {
  color: #fff;
}
.banner.with-diagonal:before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 120%;
  height: 100px;
  background: rgba(255, 255, 255, 0.3);
  transition: all 0.6s linear;
  z-index: 1;
  transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translateY(-150%);
  backface-visibility: hidden;
}
.banner.with-diagonal:hover:before,
.banner.with-diagonal.active:before {
  transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translateY(200%);
  left: -100%;
  top: 100%;
}
.banner.with-border:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 2px solid var(--et_border-color);
  margin: -2px;
  transition: all 0.7s ease-in-out;
}
.banner.with-border:hover:after,
.banner.with-border.active:after {
  margin: 10px;
}
.banner.text-effect-1:not(:hover):not(.active) .banner-content .content-inner {
  opacity: 0;
  transform: translateY(7px);
}
.banner.text-effect-1:hover .banner-title,
.banner.text-effect-1.active .banner-title,
.banner.text-effect-1:hover .banner-subtitle,
.banner.text-effect-1.active .banner-subtitle {
  transform: translateY(-12px);
}
.banner.text-effect-1 .banner-content .content-inner {
  position: absolute;
  left: 15px;
  right: 15px;
}
.content-product .banner-type-1 img {
  transform: none !important;
}
.content-product .banner-type-1:before {
  display: none;
}
@media only screen and (max-width: 1200px) and (min-width: 992px) {
  .sidebar .banner .banner-content {
    zoom: .8;
  }
}
@media only screen and (max-width: 767px) {
  .banner .banner-content,
  .banner .banner-content .banner-subtitle {
    text-align: center !important;
  }
  .banner .banner-content .banner-title {
    text-align: center;
  }
}
@media only screen and (max-width: 480px) {
  .banner .banner-content,
  .banner.banner-type-2 .banner-content .banner-subtitle {
    text-align: center !important;
  }
  .banner.banner-type-1 .banner-subtitle {
    font-size: 3vw;
  }
  .banner.banner-type-1 .content-inner p {
    margin-bottom: 10px !important;
  }
  .banner-type-2:hover .banner-content h3 {
    margin-bottom: 0;
  }
  .banner-type-2:hover .banner-content p,
  .banner-type-2:hover .banner-content a.btn {
    padding-top: 0;
  }
  .banner.banner-type-2.align-right .btn {
    right: auto;
  }
}
/*-----  End of Banners  ------*/
.team-member {
  text-align: center;
}
.team-member img {
  opacity: 1;
}
.team-member .member-image {
  position: relative;
  display: inline-block;
  margin-bottom: 10px;
  overflow: hidden;
  width: 100%;
}
.team-member .member-image:before {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s linear;
  z-index: 1;
}
.team-member .member-image img {
  width: 100%;
}
.team-member div.member-image:before {
  background: var(--et_white-2-dark);
}
.team-member .member-content h3 {
  color: var(--et_white-2-dark);
}
.team-member .member-content > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.team-member .member-content .btn {
  margin-top: 10px;
}
.team-member .member-content .et-follow-buttons {
  position: absolute;
  top: 50%;
  margin-bottom: 0;
  padding: 0 18px;
  width: 100%;
  left: 0;
  z-index: 10;
  transform: translateY(-50%);
  transition: all 0.2s ease-out;
}
.team-member .member-content .et-follow-buttons a {
  color: var(--et_active-color);
}
.team-member .member-content .et-follow-buttons a i {
  transition: inherit;
}
.team-member .member-content .et-follow-buttons:not(.icons-filled) a:hover i {
  opacity: .7;
}
.team-member .member-details {
  font-size: 1.14rem;
  color: var(--et_dark-2-white);
  width: 100%;
}
.team-member .member-details h4 {
  position: relative;
  color: var(--et_main-color);
  font-size: 1em;
  margin-bottom: 2px;
  cursor: default;
}
.team-member .member-details h5 {
  font-size: 1em;
  margin-bottom: 2px;
  margin-top: 5px;
  cursor: default;
  color: var(--et_active-color);
}
.team-member .member-details .member-email {
  margin-bottom: 5px;
  display: inline-block;
  width: 100%;
}
.team-member .member-details .member-email span {
  transition: all 0.2s ease-out;
}
.team-member .member-details .member-email a {
  color: currentColor;
}
.team-member .member-details .member-content {
  transition: all 0.2s ease-out;
}
.team-member .member-details .et-follow-buttons {
  margin-top: 5px;
}
.team-member:not(:hover) .et-follow-buttons {
  opacity: 0;
  transform: translateY(calc(-50% + 5px));
}
.team-member:hover .member-image:before {
  opacity: .5;
  visibility: visible;
}
.team-member.member-type-2 > .row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: stretch;
      align-items: stretch;
  margin-left: 0;
  margin-right: 0;
}
.team-member.member-type-2 .content-section {
  padding: 30px 10px;
  transition: background 0.2s ease-out;
  position: relative;
  max-width: 50%;
  width: 50%;
  background-color: #f5f5f5;
}
.team-member.member-type-2 .content-section:before {
  opacity: 0;
  content: "";
  left: -17px;
  position: absolute;
  top: 50%;
  margin-top: -12px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12px 17px 12px 0;
  border-top-color: transparent !important;
  border-bottom-color: transparent !important;
  border-left-color: transparent !important;
  border-right-color: var(--et_active-color);
  transition: all 0.2s ease-out;
  z-index: 1;
}
.team-member.member-type-2 .content-section .member-details {
  transition: background 0.2s ease-out;
}
.team-member.member-type-2 .content-section .member-details h4 {
  font-size: 1.5em;
}
.team-member.member-type-2 .content-section .member-details h4,
.team-member.member-type-2 .content-section .member-details a,
.team-member.member-type-2 .content-section .member-details .member-position {
  transition: all 0.2s ease-out;
}
.team-member.member-type-2 .image-section {
  padding: 0;
  max-width: 50%;
}
.team-member.member-type-2 .image-section .member-image {
  margin-bottom: 0;
  display: block;
}
.team-member.member-type-2 .image-section .member-image img {
  min-width: 100%;
}
.team-member.member-type-2:hover .image-section .member-image:after {
  background-color: var(--et_dark-2-white) !important;
  opacity: .35;
}
.team-member.member-type-2:hover .content-section {
  background-color: var(--et_active-color);
}
.team-member.member-type-2:hover .content-section:before {
  opacity: 1;
}
.team-member.member-type-2:hover .content-section .member-details,
.team-member.member-type-2:hover .content-section .member-details h4,
.team-member.member-type-2:hover .content-section .member-details a,
.team-member.member-type-2:hover .content-section .member-details span,
.team-member.member-type-2:hover .content-section .member-details .member-position {
  color: #FFF;
}
.team-member.member-type-2.image-position-right > .row {
  -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
}
.team-member.member-type-2.image-position-right .content-section:before {
  right: -17px;
  left: auto;
  margin-top: -9px;
  top: 50%;
  transform: rotate(180deg);
}
.team-member.member-type-3 .member-details {
  position: relative;
  padding: 15px 20px;
  background-color: var(--et_white-2-dark-09);
  box-shadow: 0 0 3px 0 var(--et_dark-2-white-02);
  max-width: 85%;
  margin: -15% auto 0;
  z-index: 1;
  transition: all 0.2s ease-out;
  backface-visibility: hidden;
}
.team-member.member-type-3:hover .member-details {
  transform: translateY(-7px);
}
@media only screen and (max-width: 992px) {
  .team-member {
    margin-bottom: 40px;
  }
  .team-member .member-image {
    margin-bottom: 10px;
  }
  .team-member.member-type-2,
  .team-member.member-type-2 .member-image {
    margin-bottom: 0;
  }
}
@media only screen and (max-width: 767px) {
  .team-member.member-type-2 .image-section .menu-social-icons li i {
    padding: .2em;
    font-size: 1.1rem;
  }
  .team-member.member-type-2 .content-section .member-details h4 {
    font-size: 20px;
  }
  .team-member.member-type-2 .content-section .member-details h5 {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 480px) {
  .team-member.member-type-2 > .row {
    display: block;
  }
  .team-member.member-type-2 .content-section,
  .team-member.member-type-2 .image-section {
    width: 100%;
    max-width: 100%;
    float: none !important;
  }
  .team-member.member-type-2 .image-section .menu-social-icons li i {
    font-size: 1.4rem;
  }
  .team-member.member-type-2 .content-section:before {
    left: 50% !important;
    right: auto;
    margin-left: -9px !important;
    margin-top: 0 !important;
    top: -20px !important;
    transform: rotate(90deg) !important;
  }
}
.et-blog {
  animation: fadeIn .7s linear;
}
.et-blog .post-grid {
  margin-left: 0;
  clear: none !important;
}
.et-blog .post-grid.content-timeline,
.et-blog .post-grid.content-small,
.et-blog .post-grid.content-chess {
  padding-left: 0;
  padding-right: 0;
}
.et-blog .post-grid:not(.content-timeline) {
  width: 50%;
}
.et-blog .post-grid .content-article,
.et-blog .post-grid.content-small,
.et-blog .post-grid.content-chess {
  width: 100%;
  float: none;
}
.et-blog .post-grid.content-mosaic > div {
  border: none;
}
.et-blog .post-grid.content-mosaic > div h6.active,
.et-blog .post-grid.content-mosaic > div h2,
.et-blog .post-grid.content-mosaic > div .meta-post,
.et-blog .post-grid.content-mosaic > div .content-article {
  padding-left: 0;
  padding-right: 0;
}
.et-blog .post-grid:nth-child(even):not(:first-of-type) {
  clear: both !important;
  padding-left: 0;
}
.et-blog .post-grid:first-child {
  width: 100%;
  padding-left: 0;
}
.et-blog .post-grid:first-child .more-link {
  display: inline-block;
}
.et-blog .post-grid:first-child .author-info {
  display: none;
}
.et-blog .post-grid:nth-child(odd) {
  padding-right: 0;
}
.et-blog .post-grid:nth-child(even) {
  padding-left: 0;
}
.et-blog .post-grid .wp-picture,
.et-blog .post-grid .post-gallery-slider,
.et-blog .post-grid .featured-audio {
  width: 100%;
}
.et-blog .post-grid.format-quote blockquote {
  margin-bottom: 0;
}
.et-blog .post-grid.format-quote blockquote p {
  font-size: 20px;
  line-height: 30px;
}
.et-blog .post-grid.format-quote blockquote cite {
  font-style: italic;
  color: var(--et_main-color);
  font-size: 18px;
}
.et-blog .post-grid > div {
  border: none;
}
.et-blog .post-grid > div:after {
  display: none;
}
.et-blog .post-grid > div .content-article,
.et-blog .post-grid > div .meta-post,
.et-blog .post-grid > div h2,
.et-blog .post-grid > div h6 {
  padding: 0;
}
.et-blog .post-grid.byline-on {
  padding-top: 0;
}
.et-blog .posts-small {
  display: inline-block;
  width: 100%;
  margin-top: 20px;
}
.et-blog .posts-small .post-grid {
  margin-bottom: 0;
  border-top: 1px solid var(--et_border-color);
  width: 48%;
}
.et-blog .posts-small .post-grid > div {
  padding: 40px 0;
  width: 100%;
  display: inline-block;
}
.et-blog .posts-small .post-grid h2 {
  line-height: 10px;
}
.et-blog .posts-small .post-grid h2 a {
  font-size: 18px;
  line-height: 28px;
}
.et-blog .posts-small .post-grid .meta-post {
  font-size: 13px;
  margin-bottom: 0;
}
.et-blog .posts-small .post-grid:nth-child(odd) {
  margin-right: 2%;
  padding-left: 0;
}
.et-blog .posts-small .post-grid:nth-child(3n+1) {
  clear: none;
}
.et-blog .posts-small .post-grid:nth-child(2n+1) {
  clear: both !important;
}
.et-blog .posts-small .post-grid:nth-child(even) {
  clear: none !important;
}
.et-blog .posts-small .posts-small .post-gallery-slider,
.et-blog .posts-small .wp-picture {
  width: 80px;
  height: 80px;
  display: block;
  float: left;
  margin-right: 20px;
  overflow: hidden;
}
.et-blog .posts-small .posts-small .post-gallery-slider img,
.et-blog .posts-small .wp-picture img {
  max-width: 100%;
  width: auto;
}
.et-blog .posts-small .wp-picture {
  margin-bottom: 0;
}
.et-blog .posts-small .posts-small .author-info,
.et-blog .posts-small .wp-picture .zoom,
.et-blog .posts-small .wp-picture .post-categories,
.et-blog .posts-small .content-article,
.et-blog .posts-small .format-quote .content-article > p {
  display: none;
}
.et-blog .posts-small .format-quote .content-article {
  display: table-cell;
}
.et-blog .posts-small .format-quote .content-article blockquote {
  padding-top: 0;
  padding-left: 0;
  border-left: none;
}
.et-blog .posts-small .format-quote .content-article blockquote p {
  font-size: 18px;
  line-height: 26px;
}
.et-blog .author-info {
  color: var(--et_dark-color);
  font-size: 1rem;
}
@media only screen and (max-width: 992px) {
  .et-blog .post-grid:not(.content-timeline) {
    float: left;
  }
}
@media only screen and (max-width: 480px) {
  .et-blog .post-grid:not(.content-timeline) {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }
}
.brands-list .col-md-3:nth-child(4n+1),
.brands-list .col-md-6:nth-child(2n+1),
.brands-list .col-md-4:nth-child(3n+1) {
  clear: both;
}
.brands-list .et-isotope-item .title {
  font-size: 1.286rem;
  line-height: 2.857rem;
  margin-bottom: 0;
  position: relative;
  display: inline-block;
  color: inherit;
}
.brands-list .et-isotope-item .firstLetter {
  color: var(--et_active-color);
  font-weight: 700;
  font-size: 2.857rem;
  line-height: 1.55;
}
.brands-list .et-isotope-item .sub-title {
  font-size: 1.143rem;
}
.brands-list .et-isotope-item .work-item {
  padding-bottom: 2.143rem;
}
.brands-list .et-isotope-item .work-item img {
  max-width: 50%;
  margin-bottom: 1.429rem;
}
.brands-list .et-masonry-filters-list {
  border-bottom: 1px solid var(--et_border-color);
  padding-bottom: 2.429rem;
  margin-bottom: 5.143rem;
}
.brands-list h4.title:hover .brand-tooltip {
  transition: opacity 150ms linear, visibilty 150ms linear;
}
.brands-list .brand-tooltip {
  width: 21.43rem;
  padding: 2.143rem;
  border: 1px solid var(--et_border-color);
  background: #fff;
  position: absolute;
  top: 50%;
  right: -330px;
  transform: translateY(-50%);
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  transition: opacity 150ms linear, visibilty 150ms linear;
}
.brands-list .brand-tooltip:after,
.brands-list .brand-tooltip:before {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.brands-list .brand-tooltip:after {
  border-color: rgba(255, 255, 255, 0);
  border-right-color: #fff;
  border-width: 20px;
  margin-top: -20px;
}
.brands-list .brand-tooltip:before {
  border-color: rgba(230, 230, 230, 0);
  border-right-color: var(--et_border-color);
  border-width: 22px;
  margin-top: -22px;
}
.brands-list .brand-tooltip .sub-title {
  text-align: center;
  line-height: 1.5;
}
.brands-list .brand-img-tooltip {
  margin: 0 auto;
  display: block;
}
@media only screen and (min-width: 768px) {
  .brands-list h4.title:hover .brand-tooltip {
    opacity: 1;
    visibility: visible;
  }
}
.brands-carousel {
  padding-bottom: 0;
}
.brands-carousel .swiper-wrapper {
  -ms-flex-align: center;
      align-items: center;
  padding-bottom: 0;
}
.brands-carousel .swiper-slide {
  text-align: center;
}
.brands-carousel .swiper-slide img {
  width: auto;
  margin: auto;
  opacity: 1;
  transition: all .2s linear;
}
.brands-carousel .swiper-pagination {
  margin-top: 20px;
}
.brands-carousel.swiper-entry .swiper-slide:hover img {
  opacity: .7 !important;
}
/*Category list grid*/
.categories-lists-grid .category-list-item-wrapper {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}
.categories-lists-grid.no-space .category-list-item-wrapper {
  padding: 0;
  margin: 0;
}
.categories-lists-grid.categories-columns-2 .category-list-item-wrapper:nth-child(2n+1),
.categories-lists-grid.categories-columns-3 .category-list-item-wrapper:nth-child(3n+1),
.categories-lists-grid.categories-columns-4 .category-list-item-wrapper:nth-child(4n+1),
.categories-lists-grid.categories-columns-5 .category-list-item-wrapper:nth-child(5n+1),
.categories-lists-grid.categories-columns-6 .category-list-item-wrapper:nth-child(6n+1) {
  clear: both;
}
.categories-lists-grid.categories-columns-2 .category-list-item-wrapper {
  width: 50%;
}
.categories-lists-grid.categories-columns-3 .category-list-item-wrapper {
  width: 33.33%;
}
.categories-lists-grid.categories-columns-4 .category-list-item-wrapper {
  width: 25%;
}
.categories-lists-grid.categories-columns-5 .category-list-item-wrapper {
  width: 20%;
}
.categories-lists-grid.categories-columns-6 .category-list-item-wrapper {
  width: 16.667%;
}
.categories-lists-slider .category-list-item {
  margin-bottom: 0;
}
.category-list-item > a {
  position: relative;
  overflow: hidden;
}
.category-list-item img {
  display: inline-block;
}
.category-list-item .category-name:last-child {
  margin-bottom: 0 !important;
}
.category-list-item > ul {
  width: 100%;
}
.category-list-item ul {
  padding-left: 0;
}
.category-list-item ul li {
  list-style: none;
  line-height: 1.2;
  margin-bottom: 15px;
}
.category-list-item ul li a mark {
  background-color: transparent;
  color: currentColor;
  padding-right: 0;
  margin-left: 5px;
  text-decoration: none;
}
.category-list-item ul li > a {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding: 0;
}
.category-list-item ul li ul li ul > li {
  padding-left: 10px;
  position: relative;
}
.category-list-item ul li ul li ul > li:before {
  content: '\e904';
  font-family: 'xstore-icons';
  font-size: 8px;
  position: absolute;
  top: 2px;
  left: 0;
}
.category-list-item ul li ul li ul > li:last-child {
  margin-bottom: 0;
}
.category-list-item ul li ul {
  margin-top: 15px;
}
.category-list-item ul li ul li > a {
  font-size: 1rem;
  color: var(--et_main-color);
}
.category-list-item ul li ul li > a:hover {
  color: var(--et_dark-2-white);
}
.category-list-item > ul,
.category-list-item ul li:last-child {
  margin-bottom: 0;
}
.category-list-item > ul > li > a {
  margin-bottom: 15px;
}
.category-list-item > ul > li > a mark {
  display: none;
}
.category-hover-default .category-list-item {
  border: 1px solid var(--et_border-color);
  padding: 20px 20px 10px 20px;
}
.category-hover-default .category-list-item img {
  transition: all 0.5s ease-out;
}
.category-hover-default .category-list-item-wrapper:hover img {
  transform: scale(1.05);
}
.category-list-item-wrapper.image-without .category-list-item {
  width: 100%;
}
@media only screen and (min-width: 993px) {
  .category-list-item-wrapper.image-left .category-list-item,
  .category-list-item-wrapper.image-right .category-list-item {
    display: -ms-flexbox;
    display: flex;
  }
  .category-list-item-wrapper.image-left .category-list-item > a,
  .category-list-item-wrapper.image-right .category-list-item > a,
  .category-list-item-wrapper.image-left .category-list-item > ul,
  .category-list-item-wrapper.image-right .category-list-item > ul {
    -ms-flex: 1;
        flex: 1;
  }
  .category-list-item-wrapper.image-left .category-list-item > ul {
    padding-left: 15px;
  }
  .category-list-item-wrapper.image-right .category-list-item {
    -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
  }
  .category-list-item-wrapper.image-right .category-list-item > ul {
    padding-right: 15px;
  }
}
/*Category two rows products */
.categories-products-two-rows {
  background-color: #fff;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 15px 1px #e9e9e9;
  padding-bottom: 30px;
  margin: 0 5px 35px;
}
.categories-products-two-rows .category-title {
  text-align: center;
  background: #cd0700;
  padding: 19px 0;
  margin-bottom: 30px;
}
.categories-products-two-rows .category-title h4 {
  margin-bottom: 0;
}
.categories-products-two-rows .category-title h4 a {
  font-size: 1.14rem;
  text-transform: uppercase;
  color: #fff;
}
.categories-products-two-rows .products-group {
  padding: 0 2.1rem;
}
.categories-products-two-rows .top-products,
.categories-products-two-rows .bottom-product .content-product {
  display: grid;
  grid-template-columns: calc(50% - 10px ) calc(50% - 10px );
  grid-column-gap: 20px;
}
.categories-products-two-rows .top-products {
  border-bottom: 1px solid #e9e9e9;
  margin-bottom: 30px;
}
.categories-products-two-rows .top-product {
  text-align: center;
}
.categories-products-two-rows .bottom-product {
  --product-title-size-proportion: 1.3;
}
.categories-products-two-rows .bottom-product .content-product,
.categories-products-two-rows .bottom-product .product-image-wrapper {
  margin-bottom: 0;
}
.categories-products-two-rows .content-product {
  --product-title-size-proportion: 1;
}
.categories-products-two-rows .content-product .product-title a {
  line-height: 1.5;
}
.categories-products-two-rows .content-product .product-content-image img {
  opacity: 1;
}
.categories-products-two-rows .show-products {
  text-align: center;
  margin-top: 30px;
}
.categories-products-two-rows .show-products a {
  font-size: 1rem;
  text-transform: uppercase;
  color: #ce0800;
  padding-bottom: 3px;
  display: inline-block !important;
}
.categories-products-two-rows .show-products a:after {
  line-height: 1;
}
.categories-products-two-rows .show-products a:before,
.categories-products-two-rows .show-products a:after {
  transition: inherit;
}
@media only screen and (max-width: 480px) {
  .categories-lists-grid .category-list-item-wrapper {
    width: 100% !important;
  }
}
/*=======================================
=            ET Offer widget            =
=======================================*/
.et-offer {
  font-size: 10px;
}
.et-offer .product {
  border: 1px solid var(--et_border-color);
  padding: 2em;
  margin-bottom: 30px;
  border-radius: 5px;
}
.et-offer .product-title {
  font-size: 2.2em;
}
.et-offer .products-page-cats {
  margin-bottom: 0;
}
.et-offer .products-page-cats a {
  font-size: 1.2em;
  margin-bottom: 0;
}
.et-offer .product-details {
  display: inline-block;
  width: 100%;
}
.et-offer .product-details .price {
  float: right;
  width: auto;
  font-size: 2.8em;
}
.et-offer.type1 .content-product .footer-product,
.et-offer.type1 .content-product > img,
.et-offer.type1 .sale-wrapper {
  display: none;
}
.et-offer.type1 .content-product .et-timer .time-block {
  margin: 0 2px 6px;
}
.et-offer.type1 .content-product .star-rating {
  position: absolute;
  right: 0;
  top: 0;
}
.et-offer.type1 .product-details .price del {
  font-size: 80%;
}
.et-offer.type1 .product-details .price ins {
  font-size: 100%;
}
.et-offer.type2 .product-title {
  font-size: 2.7em;
}
.et-offer.type2 .product-mask .product-title {
  font-size: 2.3em;
}
.et-offer.type2 .product-mask .price {
  font-size: 1.85em;
}
.et-offer.type2 .content-product .et-timer,
.et-offer.type2 .product-details .price {
  float: none;
}
.et-offer.type2 .product-details {
  padding-bottom: 0;
}
.et-offer.type2 .content-product .et-timer {
  margin-top: 10px;
  margin-bottom: 10px;
}
.et-offer.type2 .price {
  font-size: 2.25em;
}
.et-offer.type2 .products-page-cats a {
  font-size: 1.55em;
}
.et-offer.type2 .btn {
  margin-top: 10px;
  height: auto;
}
.et-offer.no-image .onsale {
  top: 0;
}
.et-offer.no-image .onsale.left {
  left: 0;
}
.et-offer.no-image .onsale.right {
  right: 0;
}
.et-offer .content-product {
  margin-bottom: 0;
  position: relative;
}
.et-offer .content-product .et-timer {
  float: left;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 8px;
}
.et-offer .price {
  margin-bottom: 0;
}
.et-offer .et-timer.type2 .timer-count + span {
  font-size: 1.27em;
}
@media only screen and (max-width: 767px) {
  .et-offer {
    font-size: 9px !important;
  }
  .et-offer .product-details .price {
    margin-bottom: 10px;
    text-align: center;
    float: none;
  }
  .et-offer .product-sale-counter {
    width: 100%;
    text-align: center;
  }
  .et-offer .product-sale-counter .time-block {
    float: none;
  }
  .et-offer .star-rating {
    transform: scale(0.8);
    right: -10px;
    top: -4px;
  }
  .et-offer.type2 .content-product .et-timer {
    margin-bottom: 10px;
  }
}
/*=====  End of ET Offer widget  ======*/
